<!DOCTYPE html>
<html>
    <head>
        <title><%= post.title %></title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    </head>

    <body>
        <header class="navbar navbar-with-icon">
            <a href="/" class="navbar-icon"><i class="fa-solid fa-house"></i></a>
            <h1>Ferguson's Blog</h1>
        </header>
        
        <div class="site markdown-body">
            <!--- <a href="/">&larr; Back to Blog</a> --->

            <h1 style="margin-top: 0;"><%= post.title %></h1>
            <p><em><%= post.date %></em></p>

            <article>
                <%- post.content %>
            </article>

        </div>

    </body>
</html>