<!DOCTYPE html>
<html>
    <head>
        <title><%= post.title %></title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <a href="/"><- Back to Blog</a>

        <h1><%= post.title %></h1>
        <p><em><%= post.date %></em></p>

        <article>
            <p><%= post.content %></p>
        </article>
        
    </body>
</html>